<% if component_settings.try(:display_progress_enabled?) && result.progress.present? %>
  <div class="accountability__progress">

    <div class="text-xs font-normal"><%= display_percentage result.progress %></div>
    

    <div class="progress-bar" role="progressbar" aria-label="Genomförande" aria-valuenow="<%= display_percentage result.progress %>" aria-valuemin="0" aria-valuemax="100" aria-valuetext="<%= display_percentage result.progress %>">
      <div style="width: <%= display_percentage result.progress %>"></div>
    </div>
  </div>
<% end %>

